.container {
    background-color: white;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    margin-top: 15px;
}
.image-description {
    margin-top: 5px;
    font-size: small;
}
.map-images {
    height: 150px;
    width: 150px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vector-images {
    height: 100px;
    width: 100px;
}