<div class="jumbotron text-center">
    <h2>Our Work</h2>
    <p>75% of children in Emarti village, Narok County, Kenya do not have access to quality education <br>
   We have been on a mission to increase access to quality education in the area since 2018, and 
        <br> with the generous support of people like you, we are getting closer every day.
    </p>
    <h4>Our Impact</h4>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="vector-images" src="../../assets/images/children_outline.png" alt="">
                <p class="image-description">20 children enrolled in schools <br> providing high quality education</p>
            </div>
            <div class="col-sm-4">
                <img class="vector-images" src="../../assets/images/family_outline.png" alt="">
                <p class="image-description">8 families so far are part of our program <br> with at least one school child enrolled in our program</p>
            </div>
            <div class="col-sm-4">
                <img src="../../assets/images/map-indicator-icon.jpg" alt="" class="vector-images">
                <p class="image-description">our students come from 4 locations <br> served primarily in Kilgoris sub-county </p>
            </div>
        </div>
    </div>

</div>
