<div class="container">
    <!-- first person -->
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/images/hydranger_flowers.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <h6>Rebecca Jones</h6>
            <p>In 2014, Rebecca Jones decided to put her love for photography and nature to good.</p>
        </div>
    </div>
    <hr>

    <!-- second person -->
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/images/logo.png" alt="">
        </div>
        <div class="col-sm-6">
            <h6>George Doe</h6>
            <p>In 2014, Rebecca Jones decided to put her love for photography and nature to good.</p>
        </div>
    </div>
    <hr>
    <!-- third person -->
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/images/yellow_flower.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <h6>Lily Ann</h6>
            <p>In 2014, Rebecca Jones decided to put her love for photography and nature to good.</p>
        </div>
    </div>
</div>
