h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron {
    background-image: url(../../assets/images/maasai_mara.jpg);
}
p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}