<div class="jumbotron">
    <h2 class="text-center">Get Involved</h2>
    <p class="text-center">No matter how old you are, where you live, or whether or not you can <br>give, 
        you can help a child get access to quality education -- and you can start right now
    </p>
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="rounded-circle" src="../../assets/images/donated_books.jpg" alt="">
                <p class="image-text">Donate books, art supplies, school supplies <br> and playing equipments</p>
            </div>
            <div class="col-sm">
                <img class="rounded-circle" src="../../assets/images/donate_money.jpg" alt="">
                <p class="image-text">Make a money donation today to our tuition fund <br> 
                    <a href="/donate">Here</a>
                </p>
            </div>
            <div class="col-sm">
                <img class="rounded-circle" src="../../assets/images/concrete_construction.jpg" alt="">
                <p class="image-text">We will like to expand our program to reach more children and families <br>
                    without compromising the conducive environment that we have alreay <br>
                    <a href="#">sponsor a class room today </a> and help us reach more deserving kids! 
                </p>
            </div>
            <div class="col-sm">
                <img src="../../assets/images/shopping_cart_image.png" alt="" class="rounded-circle">
                <p class="image-text">Purchase with purpose! Profits from our <a href="#">online store</a> <br> fund women empowernment programs that would
                    give income to women who will otherwise not be employable <br> because of lack of education
                </p>
            </div>
           
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Start Here</h4>
                <p>Getting started is as easy as creating an account and setting up your public
                    <br>
                    profile. Every dollar you donate or raise increases your Lifetime Impact.
                </p>
            </div>
            <div class="col-sm-6">
                <br>
                &nbsp;&nbsp;
                <a href="/register" class="btn btn-primary">Create an account</a>
            </div>
        </div>
    </div>
</div>
