.btn {
    height: 42px;
    width: 200px;
    border-radius: 3px;
}
.container {
    margin-top: 5%;
    border: 1px solid rebeccapurple;
    padding: 5px;
}
h2, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    height: 200px;
    width: 200px;
}
.image-text {
    font-size: small;
    margin-top: 2px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}