 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- brand, when clicked should navigate to home page -->
    <a class="navbar-brand" routerLink="/home">Logo</a>
    <!-- Links to each page of the application -->
    <ul class="navbar-nav">
      <!-- why education page -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/why-education">Why Education</a>
      </li>
  
      <!-- our work -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/our-work">Our Work</a>
      </li>
  
      <!-- about us -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
  
      <!-- Get involved dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" routerLink="/get-involved">Get Involved</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Donate</a>
          <a href="#" class="dropdown-item">Sponsor a project</a>
          <a href="#" class="dropdown-item">Brand Partnership</a>
        </div>
      </li>
  
    </ul>
</nav>
<router-outlet></router-outlet>

