h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-image {
    margin-left: 10%;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin-top: 5px;
}
.sectional-flowers {
    height: 300px;
    width: 300px;
}

