<div class="container-fluid-xl scrollbar">
    <div class="jumbotron text-center" style="height: 25%;">
        <h1>Emarti Educational Center</h1>
        <p>Emarti Educational Center is a community center that aims to provide quality and affordable education to children 
            <br> from disadvantaged backgrounds in Emarti. Children at the start of their academic journey are introduced <br>to an educational experience that 
            employs the use creativity, innovation and technology, making the education <br>offered in our school world-class.

        </p>
    </div>
    <!-- section one of page -->
    <div class="container ">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <!-- indicators -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>
            <!-- images -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/school_going_kids.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/emarti_primary.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/emarti-primary-picture.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- section two -->
    <div class="container-fluid" style="background-color:gold; margin-top: 10px;">
        <div class="container">
            <p class="text-center">Something here</p>
        </div>
    </div>
</div>

