a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 185px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container-fluid-xl {
    background-image: url(../../assets/images/leave_with_raindrops.jpg);
    padding: 10px 0px;
}
form {
    margin-left: 25%;
    margin-top: 12px;
    margin-bottom: 15px;
    max-width: 35%;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: whitesmoke;
}
.form-group {
    margin-left: 5px;
    margin-right: 5px
    ;
}
h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
}
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 5px;
}